
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  src: url('../fonts/Champagne&Limousines.ttf');
  font-family: 'assassins'
}

@font-face {
  src: url('../fonts/CookieDough.otf');
  font-family: 'cookie'
}

@font-face {
  src: url('../fonts/OptimusPrinceps.ttf');
  font-family: 'optimus';
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'optimus';
  background-color: #EBCC79;
    color: #EBCC79;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: #EBCC79;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.main{
  background-color: #42241A;
}

.brownbg{
  background-color: #42241A;
  padding: 20px;

  .opening-title{
    text-align: center;
    font-family: 'assassins';
    font-size: 56px;
    padding: 20px;
    margin: 0;
    background-color: #42241A;
    font-weight: 600;
  }

  .div-logo{
    background-image: url('../images/bakeryLogo.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    height: 100px;
    width: 160px;
    margin: 0 auto;
  }
}

.login-dark{
  color: #42241A;
}

.opposite:hover{
  color: #42241A;
}

.thumbnail{
  height: 415px;

  .thumbnail-image{
    overflow: hidden;
    height: 288px;
    // width: 288px;
  }
}

.top-header{
  background-color: #42241A;

  .logo{
    display: inline-block;
    height: 60px;
    width: 80px;
    background-image: url('../images/bakeryLogo.jpg');
    background-size: 120%;
    background-position: center center;
    margin: 10px 10px;
    border-radius: 3px;
  }

  .logo-link{
    display: block;
    height: 100%;
    width: 100%;
  }

  span{
    font-size: 25px;
    padding: 10px;
  }
}

.recipe-name{
  color: #EBCC79;
  text-align: center;
  position: relative;

  .detail-image{
    border-radius: 70px;
    margin-bottom: 10px;
  }

  .button-link{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #42241A;
    font-size: 20px;
  }
}

.ingredient-header{
  color: #EBCC79;
}

.recipe-delete{
  margin-bottom: 10px;
}

.footer{
  height: 30px;

  .logo{
    display: inline-block;
    height: 30px;
    width: 40px;
    background-image: url('../images/bakeryLogo.jpg');
    background-size: 120%;
    background-position: center center;
    margin: 10px 10px;
    border-radius: 3px;
  }

  .bottom-nav{
    margin: 0 10px;
    color: #42241A;
  }
}
